.spot-details-images-container {
    display: flex;
    width: 1000px;
    height: auto;
    flex-direction: row;
    gap: 10px;
    /* border: 1px solid blue; */

}

.spot-details-small-pic-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.spot-details-previewImage {
    object-fit: cover;
    height: 360px;
    width: 450px;
}

.spot-details-small-images {
    object-fit: cover;
    height: 180px;
    width: 225px;
}

.spot-detail-information-container {
    margin-block: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 918px;
    /* border: 1px solid blue; */
}

.reserve-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 100px;
}

.price-rating-container {
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.single-spot-reserve-button {
    position: relative;
    bottom: 8px;
    margin: auto;
    padding: 5px;
    width: 250px;
    font-weight: bold;
    color: antiquewhite;
    background-color: rgb(98, 202, 228);
    border-color: black;
    box-shadow: 5px 5px 5px black;
}


.h3-reviews-span {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.thisperiod {
    position: relative;
    bottom: 4px;
}
