.hidden {
    display: none
}

.header-container {
    display: flex;
    justify-content: space-between;

}

.profile-button {
    margin-right: 40px;
}

.home-logo {
    height: 40px;
    width: auto;
}
