.hidden {
    display: none
}

.header-container {
    display: flex;
    justify-content: space-between;

}

.profile-button {
    margin-right: 40px;
}

.home-logo {
    align-self: center;
    height: 30px;
    width: auto;
}

.nav-logo {

    display: flex;
    gap: 10px;
}

#zach-main {
    font-size: larger;

}


.header-right-side {
    display: flex;
    justify-content: space-between;
}
