.header-container {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.profile-dropdown {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 48px;
    border: 1px solid black;
    margin: 2px;
    padding: 10px;
    gap: 4px;
}

.hidden {
    display: none;
}

.profile-button {
    margin-right: 10px;
}

.home-logo {
    align-self: center;
    height: 30px;
    width: auto;
}

.manage-spots-button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;

}

.Manage-spots-div {
    /* border: 1px solid black; */
}

.log-out-button {
    margin-top: 3px;
    padding: 5px;
    width: 70px;
    border-radius: 20px;
}

.nav-logo {
    margin-left: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

#zach-main {
    font-size: x-large;
    text-decoration: none;
}


.header-right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    gap: 10px;
    border-radius: 50px;
    cursor: pointer;
}

#user-menu-logo {
    height: 20px;
    align-self: flex-end;
}

.create-a-new-spot-button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    height: 30px;
    width: 130px;
    border-radius: 50px;
    background-color: transparent;
}

.create-a-new-spot-button:hover {
    background-color: rgba(211, 211, 211, 0.899);
}
